/* 
    Created on : 07-Jul-2018, 15:49:00
    Author     : Luke Prendergast
*/

@import 'mixins.less';

body
{
    #contact-info {
        padding: 20px;
        
        h2 {
            margin: 0 0 40px 0;
        }
        
        ul {
            margin: 0;
            
            li {
                word-wrap: break-word;

                svg {
                    color: @main-colour;
                }

                a {
                    &:link, &:visited {
                        color: @very-dark-grey;
                    }
                }
            }
        }
    }
}
