/* 
    Created on : 07-Jul-2018, 15:49:00
    Author     : Luke Prendergast
*/

@import 'mixins.less';

body
{
    font-family: @main-font;
    
    h1 {
        font-family: @heading-font;
        font-size: 65px;
        color: @main-colour;
        margin: 0 0 60px 0;
        letter-spacing: -3px;
        font-weight: @extra-light;
    }

    h2 {
        font-family: @heading-font;
        font-size: 26px;
        color: @dark-grey;
        margin: 50px 0 30px 0;
        letter-spacing: -1px;
        font-weight: @bold;
        text-transform: uppercase;
    }
    
    h3 {
        font-size: 18px;
        color: @dark-grey;
        margin: 25px 0 15px 0;
        font-weight: @bold;
        
        &.toggle, &.toggle:hover {
            background-color:@dark-grey;
        }
        
        &.toggle {
            display: block; 
            padding: 15px; 
            width: auto; 
            color: white; 
            margin-bottom: 0;
        }
        
        &.toggle:hover {
            cursor: pointer;
        }
    }
    
    p, ul.list-none li, ul.list-points li {
        font-size: 15px; 
        color: @very-dark-grey; 
        line-height: 1.6; 
        font-weight: @extra-light;
        
        @media @700 {
            font-size: 15px;
            line-height: 1.4;
        }
    }
    
    p {
        margin: 0 0 15px 0;
    }
    
    ul {
        &.list-none, &.list-points {
            margin: 10px 0 15px 0;
            list-style: none;
            padding-left: 0;
            
            li {
                margin-bottom: 8px;
            }
        }
        
        &.list-none {
            li {
                a {
                    color: @main-colour;
                }
            }
        }
        
        &.list-points {
            li {
                margin: 5px;
                
                &:before {
                    content: "\f111";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    color: @main-colour;
                    margin-right: 15px;
                    font-size: 10px;
                    vertical-align: middle;
                }
            }
        }
    }
    
    .toggle {
        display: none; 
        padding: 15px;
        background-color: @very-light-grey;
        
        ul {
            margin: 0;
            
            &.list-none {
                li {
                    font-size: 15px;
                }
            }
        }
    }

    .error, .success {padding:15px 60px; background-repeat:no-repeat; background-position:10px 15px; margin-bottom:20px;}
    .error {color:@red; background-color:@light-red; background-image:url(../img/content/error.png);}
    .success {color:@green; background-color:@light-green; background-image:url(../img/content/success.png);}
    
    .breadcrumb {font-size:13px; margin-bottom:20px; display:block;}
    
    a {
        color: @main-colour;
        
        &:link, &:visited {
            color: @main-colour; 
            text-decoration: none;
        }
        
        &:hover {
            text-decoration: underline;
        }
        
        &.btn {
            color: white;

            &:link, &:visited {
                color: white;
            }
        
            &:hover {
                text-decoration: none;
            }
        }
    }
    svg {
        margin-right: 5px;
    }
    
    strong {
        font-weight: @bold;
    }

    /* Table Styles */
    table {width:100%; border-top:4px solid @main-colour; margin-bottom:10px;}
    table td {padding:8px 7px; color:@very-dark-grey; font-size:14px;}
    thead th {padding:10px 0; color:white; background-color:@grey; font-size:14px; text-align:left;}
    thead.short th {padding:8px 0; font-size:12px; font-weight:@bold;}
    thead th span {padding:0 7px;}
    .table-sub-header td {background-color:@light-grey; text-align:center; font-weight:@bold;}

    .table-row0 {}
    .table-row1 {background-color:@very-light-grey;}
    tr.table-row0:hover td, tr.table-row1:hover td, tr.table-row0:hover td a:link, tr.table-row1:hover td a:link {background-color:@main-colour; color:white; text-decoration:none;}
    .total td {border-top:1px solid @main-colour; margin-bottom:10px;}

    .caption {margin-bottom:25px;font-style:italic; font-size:14px; display:block;}

    /* Site Map */
    ul.level-1 {font-weight:@bold;}
    ul.level-1 li {margin-bottom:10px;}
    ul.list-none ul {margin-left:20px; margin-bottom:20px; font-weight:normal;}
    ul.list-none ul ul {margin-left:20px;}
    /* Site Map End */


    /*** LAYOUT CLASSES ***/
    .row {
        padding: 20px 0;
        margin: 0;
    }
    
    .container-fluid {
        max-width: 1160px;
        padding: 0;
       
        .home-info {
            h2 {
                margin-top: 0;
            }
            
            img {
                width: 100%; 
                margin-bottom: 20px;
                .rounded-corners();

                @media @500 {
                    width: 300px;

                    &.float-left {
                        margin-right: 40px;
                    }

                    &.float-right {
                        margin-left: 40px;
                    }
                }

                @media @600 {
                    width: 325px;
                }

                @media @700 {
                    width: 425px;
                }

                @media @800 {
                    width: 500px;
                }
            }
        }
    }
    
    .blue {background-color:@main-colour;}
    .blue:hover {background-color:@main-colour-hover;}
    .orange {background-color:@accent-colour1;}
    .orange:hover {background-color:@accent-colour1-hover;}
    .dark-grey {background-color:@very-dark-grey;}
    .dark-grey:hover {background-color:@dark-grey;}
    .grey {background-color:@grey;}
    .grey:hover {background-color:@very-dark-grey;}
    .light-grey {background-color:@light-grey;}
    .very-light-grey {background-color:@very-light-grey;}
    .white {background-color:white;}

    .no-border {border:none;}
    .no-padding {padding:0;}
    .text-right {text-align:right;}
    .margin-right {margin-right:14px;}

    .clearfloat {clear:both; height:0; font-size:1px; line-height:0;}

    .btn {
        font-family: @heading-font;
        font-size: 17px;
        font-weight: @extra-light;
        text-transform: uppercase;
        width: 100%;
        padding: 10px 0;
        color: white;
        margin: 10px 0;
        
        &:link, &:visited {
            color: white;
        }
        
        &:hover {
            .transition();
        }
        
        &.btn-primary {
            background-color: @main-colour;
        }
        
        @media @500 {
            width: auto;
            padding: 14px 25px;
        }
    }

    /*** MASTER LAYOUT ***/
    header {
        nav {            
            &.navbar {
                padding: 0;

                &.bg-dark {
                    background-color: @main-colour !important;

                    .navbar-brand {
                        //background-image: url('../img/layout/logo-115-72.png');
                        background-repeat: no-repeat;
                        height: 72px;
                        width: 115px;
                        margin: 10px;

                        @media @768 {
                            //background-image: url('../img/layout/logo-134-84.png');
                            height: 84px;
                            width: 134px;
                            margin: 0;
                        }
                    }

                    .navbar-toggler {
                        margin: 10px;

                        @media @768 {
                            margin: 0;
                        }
                    }

                    li {
                        &.nav-item {
                            border-bottom: 1px solid @accent-colour1;

                            &:last-child {
                                border-bottom: none;
                            }

                            @media @768 {
                                border-bottom: none;
                            }

                            &.show {
                                a {
                                    &.nav-link {
                                        @media @768 {
                                            border-bottom: 5px solid white;
                                        }
                                    }
                                }
                            }

                            a {
                                &.nav-link {
                                    font-family: @heading-font;
                                    font-weight: @bold;
                                    text-transform: uppercase;
                                    text-align: center;
                                    padding: 15px 0;
                                    font-size: 14px;

                                    @media @768 {
                                        text-align: left;
                                        padding: 40px 10px;
                                        border-bottom: none;
                                        font-size: 15px;
                                        border-bottom: 5px solid @main-colour;
                                    }

                                    @media @1000 {
                                        padding: 40px 20px;
                                        font-size: 16px;
                                    }

                                    &:link, &:visited {
                                        color: white;
                                    }

                                    &:hover {
                                        background-color: darken(@main-colour, 10%);

                                        @media @768 {
                                            border-bottom: 5px solid white;
                                        }
                                    }

                                    span {
                                        font-weight: @extra-light;
                                    }
                                }
                            }

                            .dropdown-menu {
                                background:@accent-colour1;
                                margin: 0;
                                padding: 0;
                                border: 0;
                                border-radius: 0;

                                @media @768 {
                                    background-color: @main-colour;
                                }

                                a {
                                    &.dropdown-item {
                                        text-align: center;
                                        padding: 14px 20px;
                                        font-size: 13px;

                                        @media @768 {
                                            border-bottom: 1px solid @main-colour-hover;
                                            text-align: left;
                                        }

                                        &:link, &:visited {
                                            color: white;
                                        }

                                        &:hover {
                                            background: @main-colour-hover;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
        #contact-bar {
            font-size: 17px; 
            font-weight: @extra-light; 
            color: white; 
            padding: 12px 0; 
            text-align: center; 
            background-color: @main-colour;
            
            ul {
                margin: 0;
                
                li {
                    display: inline;
                    
                    &:first-child {
                        margin-right: 20px;
                    }

                    a {
                        color: white; 

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        #header-image {
            background-image: url(../img/layout/banner-image1.jpg); 
            width: 100%; 
            height: 350px; 
            background-position: center; 
            background-size: cover; 
            position: relative;
            background-attachment: fixed;
        }
    }
    
    footer {
        background: @grey; 
        padding-top: 20px;
        
        @media @500 {
            padding-top: 40px;
        }     
        
        @media @900 {
            padding-top: 60px;
        }     
        
        .row {
            padding: 0;
            
            ul {
                margin: 0 !important;
                padding: 0;

                li {
                    font-size: 15px; 
                    text-align: left; 
                    margin: 0 0 8px 0;

                    strong {
                        font-family: @heading-font;
                        margin-top: 24px;
                        text-transform: uppercase; 
                        margin-bottom: 15px; 
                        display: block;
                        
                        @media @768 {
                            margin-top: 0;
                        }
                    }

                    a {                        
                        &:link, &:visited {
                            color: white;
                        }
                    }

                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
        
        #copyright {
            color: white;
            margin-top: 20px;
        
            @media @500 {
                margin-top: 40px;
            }
            
            @media @900 {
                margin-top: 60px;
            }

            span {
                clear: both; 
                font-size: 12px; 
                line-height: 18px; 
                display: block; 
                text-align: center; 
                margin: 0; 
                padding: 8px 0;
                
                @media @900 {
                    font-size: 13px;
                }
                
                a {
                    &:link, &:visited {
                        color: white;
                    }
                }
            }
        }
    }
    
    .breadcrumb {
        background-color: transparent;
        padding: 0;

        &>li+li:before {
            content: "\f105";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            padding: 0 5px;
            color: @main-colour;
        }
        
        li {
            display: inline-block;
        }
    }
    
    .courses {
        background: @main-colour;
        padding: 20px;
        margin: 0 20px 40px 0;
        
        h3 {
            text-transform: uppercase;
            color: white;
            font-family: @heading-font;
            font-size: 19px;
            font-weight: @bold;
            margin: 0 0 25px;
            letter-spacing: -0.5px;
        }
        
        ul {
            margin-bottom: 0;
            
            li {
                color: white;
                margin-bottom: 12px;
                
                &:last-child {
                    margin-bottom: 0;
                }
        
                .btn {
                    display: inline;
                    background: @accent-colour1;
                    font-weight: @bold;
                    font-size: 13px;
                    margin-bottom: 0;
                    padding: 4px 6px;
                    font-family: @main-font;
                    letter-spacing: -0.25px;
                    margin-left: 12px;

                    &:link, &:visited {
                        color: white;
                        text-decoration: none;
                    }

                    &:hover {
                        background: darken(@accent-colour1, 10%);
                    }
                }
                
                a {
                    &:link, &:visited {
                        color: white;
                        text-decoration: underline;
                    }
                    
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

.inner-container {padding:10px;}
#main-content {margin-right:300px; padding-bottom:40px;}



div.light-grey .content, div.very-light-grey .content {padding:30px 10px;}

.sidebar {width:25%; padding:2%;}
.sidebar h3 {margin-top:0;}
.sidebar h3, .sidebar p {color:white; font-size:14px;}
.sidebar p:last-child {margin-bottom:0;}
.sidebar:hover {background-color:@main-colour;}
.page-wrap {width:65%;}

/* EU Cookie Law */
#eucookielaw {display:none; background-color:@light-grey;}
#eucookielaw .content {padding:8px;}
#eucookielaw p {color:@dark-grey; font-size:13px; margin:0;}
#eucookielaw .btn {font-size:12px; padding:6px 10px; margin-top:8px;}

/* Help Start */
.help-item {margin-bottom:40px;}
/* Help End */



    /*** MEDIA QUERIES FOR RESPONSIVE LAYOUT ***/

    @media (max-width: 800px)
    {
        table {font-size:11px;}
        h1 {font-size:40px;}
        h2 {font-size:28px;}
        p, ul.list-none li, ul.list-points li {font-size:15px; line-height:1.4;}
    }
    @media (max-width: 700px)
    {
        #header-image {background-attachment:scroll;}

        .sidebar {width:100%; padding:14px; margin-top: 30px; box-sizing:border-box;}
        .sidebar h3, .sidebar p {font-size:16px;}
        .page-wrap {width:auto;}
    }
    @media (max-width: 600px)
    {
        p, ul.list-none li, ul.list-points li {font-size:15px;}
        #contact-bar {font-size:14px;}

        #contact-bar .hidden {display:inline-block;}
    }
    @media (max-width: 500px)
    {
        h1 {font-size:45px;}

        table td, thead th {font-size:13px;}
        thead th {font-weight:@bold;}
    }
    @media (max-width: 400px)
    {
        th.hidden, td.hidden {display:none;}
    }

}

/*** CONTENT CLASSES ***/
