/* 
    Created on : 07-Jul-2018, 15:49:00
    Author     : Luke Prendergast
*/

/*
Colours
----------
*/

@main-colour:          #374578;
@accent-colour1:       #082854;
@main-colour-hover:    #1F2D5F;
@accent-colour1-hover: #00132D;

@very-dark-grey:       #222;
@dark-grey:            #4d4d4d;
@grey:                 #555;
@light-grey:           #e0e0e0;
@very-light-grey:      #ececec;

@red:                  #C52727;
@light-red:            #f3d4d4;
@green:                #218D44;
@light-green:          #c6d6cb;

/*
Fonts
----------
*/

@main-font:    'Open Sans', sans-serif;
@heading-font: 'Jura', sans-serif;

/*
Font Weights
----------
*/

@extra-light: 300;
@light:       400;
@bold:        700;

/*
Effects
----------
*/

.transition(@property: all, @duration: 0.5s, @timing: linear, @delay: 0s) {
    -webkit-transition: @property @duration @timing @delay;
    -moz-transition:    @property @duration @timing @delay;
    -ms-transition:     @property @duration @timing @delay;
    -o-transition:      @property @duration @timing @delay;
    transition:         @property @duration @timing @delay;
}

.rounded-corners(@radius: 4px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    -ms-border-radius:     @radius;
    -o-border-radius:      @radius;
    border-radius:         @radius;
}

.shadow(@horizontal: 0px, @vertical: 0px, @blur: 4px, @spread: 0px, @color: @dark-grey) {
    -webkit-box-shadow: @horizontal @vertical @blur @spread @color;
    -moz-box-shadow:    @horizontal @vertical @blur @spread @color;
    -ms-box-shadow:     @horizontal @vertical @blur @spread @color;
    -o-box-shadow:      @horizontal @vertical @blur @spread @color;
    box-shadow:         @horizontal @vertical @blur @spread @color;
}

/*
Media Queries
----------
*/

@300:  ~"only screen and (min-width: 300px)";
@400:  ~"only screen and (min-width: 400px)";
@500:  ~"only screen and (min-width: 500px)";
@600:  ~"only screen and (min-width: 600px)";
@700:  ~"only screen and (min-width: 700px)";
@768:  ~"only screen and (min-width: 768px)";
@800:  ~"only screen and (min-width: 800px)";
@900:  ~"only screen and (min-width: 900px)";
@992:  ~"only screen and (min-width: 992px)";
@1000: ~"only screen and (min-width: 1000px)";
@1100: ~"only screen and (min-width: 1100px)";
@1200: ~"only screen and (min-width: 1200px)";
@1300: ~"only screen and (min-width: 1300px)";
@1400: ~"only screen and (min-width: 1400px)";
